.tools/
src/fpga/db/
src/fpga/incremental_db/
src/fpga/output_files/
src/fpga/*.log
src/fpga/*.qws
tests/work/
tests/transcript
tests/*.wlf
tests/*.log
tests/apf/
tests/modelsim.ini
release/
output/
node_modules/
build.log
rom/
src/fpga/simulation/gate_probe/
